*/**/*wav

*__pycache__

*.ipynb_checkpoints

.vscode/
alohaecc.egg-info
build/
dist/
.*venv
venv/
plctestbench-*
listening_tests/
metrics_comparison_tool/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

poetry.toml